.Difficulty {
	z-index: 1000;
	vertical-align: center;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	flow-children: down;
	max-width: 230px;
	padding: 4px;
}

#Header {
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 25px;
	color: rgb( 233, 233, 233 );
	text-shadow: 0px 1px 2px 2.0 #000000;
}

.Difficulty Button {
	margin: 4px;
	min-width: 100%;
	background-image: url( "s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex" );
	flow-children: right;
}

.Difficulty Button:hover {
	background-color: white;
}

.Difficulty Button.normal {
	background-color: #82E949;
}

.Difficulty Button.medium {
	background-color: rgb( 111, 111, 111 );
}

.Difficulty Button.hard {
	background-color: #ff4e16;
}

.Difficulty Button Panel {
	vertical-align: center;
	width: 40px;
	height: 40px;
	background-size: 100% 100%;
}

.Difficulty Button.normal Panel {
	background-image: url("s2r://panorama/images/conduct/behavior_normal_png.vtex");
	wash-color: green;
}

.Difficulty Button.medium Panel {
	background-image: url("s2r://panorama/images/conduct/behavior_neutral_png.vtex");
	wash-color: rgb( 33, 33, 33 );
}

.Difficulty Button.hard	 Panel {
	background-image: url("s2r://panorama/images/conduct/behavior_bad_png.vtex");
	wash-color: red;
}

.Difficulty Button Label {
	vertical-align: center;
	font-size: 23px;
	color: rgb( 222, 222, 222 );
	text-shadow: 0px 1px 2px 2.0 #000000;
	text-transform: uppercase;
	margin-left: 8px;
}
