.Hud {
	width: 100%;
	height: 100%;
}

#MusicToggleContainer,
 {
	width: 60px;
	height: 60px;
	background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex");
	brightness: 1.0;
	z-index: -1;
	/*box-shadow: #000000aa 0px 0px 2px 2px;*/
	transition-property: background-image,brightness,transform;
	transition-duration: .25s;
	background-size: 100% 100%;
	transition-timing-function: ease-in-out;
	vertical-align: center;
	/*transform: translateX(-150px);*/
	horizontal-align: left;
/*	margin-left: 1120px;
	margin-bottom: 30px;*/
	margin-top: 140px;
	text-align: center;
	margin-bottom: 5px;
}

#MusicToggleContainer{
	margin-top: 200px;
}

#BtnMusicToggle,
{
	width: 100%;
	height: 100%;
	background-image: url('file://{resources}/images/custom_game/donate/patreon_logo.png');
	background-size: 80% 80%;
	background-repeat: no-repeat; 
	background-position: 50% 50%;
	/*transform: scaleX(-1);*/
	transition-duration: 0.25s;
	transition-property: opacity;
	horizontal-align: left;
	vertical-align: center;
}

#MusicToggleContainer.off #BtnMusicToggle{
	background-image: url('file://{resources}/images/custom_game/music_off.png');
}

#BtnMusicToggle{
	background-image: url('file://{resources}/images/custom_game/music_on.png');
	transition-duration: .3s;
	transition-property: background-image;
}
#MusicToggleContainer:Hover,
 {
	brightness:1.6;
	transform: none;
	/*background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_hover_psd.vtex");*/
}
